#main-div {
    display: flex;
}

#left-side {
    width: 50%;
    display: flex;
    margin-top: 4rem;
}

.rate-div {
    justify-content: center;
    align-items: center;
    display: flex;
    border: 20px solid black;
    border-radius: 9999px;
}

#rate-friend-p {
    font-weight: bolder;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.input-rate {
    margin-left: 1rem;
    border-width: 0;
    padding: 0;
    width: 5rem;
    border-radius: 0.5rem;
    font-weight: bolder;
    font-size: 2rem;
    color: black;
}

.span20 {
    font-weight: bolder;
    font-size: 2rem;
}

.cover-album {
    width: 24rem;
    height: 24rem;
    margin-bottom: 1rem;
    border-radius: 9999px;
}

.icon-add-album {
    margin: 1rem;
    padding: 1rem;
    color: black;
}

#right-side {
    width: 50%;
    display: flex;
    margin-top: 4rem;
}

iframe {
    margin-top: 2rem;
    width: 24rem;
    height: 12rem;
}

@media (max-width: 1000px) {
    #main-div {
        display: block;
    }

    #left-side {
        width: 100%;
        display: block;
    }
    
    #right-side {
        margin-top: 1rem;
        width: 100%;
        display: block;
    }

    .cover-album {
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    iframe {
        width: 20rem;
        height: 11rem;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .cover-album {
        width: 17rem;
        height: 17rem;
    }

    iframe {
        width: 18rem!important;
        height: 10rem!important;
        justify-content: center;
        margin: auto;
        display: block;
    }
}

@media (max-width: 320px) {
    .cover-album {
        width: 12rem;
        height: 12rem;
    }

    iframe {
        width: 14rem!important;
        height: 10rem!important;
        justify-content: center;
        margin: auto;
        display: block;
    }
}