.grid-list {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1rem;
}

.grid-list-artist {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 0.1rem;
    padding: 1rem;
}

.scale-loader {
  margin-top: 5rem;
}

.any-release-artist-div {
  margin-top: 2rem;
  padding: 2rem;
}

.artist-img {
    width: 5rem;
    height: 5rem;
    padding: 0;
}

.artist-img-without {
  width: 10rem;
  height: 10rem;
  padding: 0;
}

h2 {
  margin-bottom: 2rem;
}

.filter-bar {
  font-size: 1.3rem;
  color:white;
  background-color: rgba(27,32,38,255);
  width: 75%;
  margin: auto;
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}

.filter-bar p {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: 5px;
}

.filter-bar select {
  color:white;
  background-color: rgb(55 65 81)!important;
  margin: 5px;
  border-radius: 1rem;
}

.filterby-div {
  display: flex;
  align-items: center;
  width: 30%;
}

.sortby-div {
  display: flex;
  align-items: center;
  width: 39%;
}

.hide-div {
  display: flex;
  align-items: center;
  width: 30%;
}

.filter-bar button {
  border-radius: 1rem;
  padding: 0.5rem!important;
  margin: 5px!important;
}

@media (max-width:1200px) {
  .filter-bar {
    font-size: 1rem;
  }

  .filter-bar select {
    margin: 2px;
    border-radius: 1rem;
  }

  .filterby-div {
    width: 45%;
  }
  
  .sortby-div {
    width: 55%;
  }
}

@media (max-width:1000px) {
  .filter-bar {
    font-size: 0.9rem;
  }

  .filter-bar select {
    margin: 2px;
    border-radius: 1rem;
    font-size: 0.9rem;
  }

  .filterby-div {
    width: 45%;
  }
  
  .sortby-div {
    width: 55%;
  }
}

.artist-small-view {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
}

@media (min-width: 1300px) and (max-width: 1550px) {
  .grid-list {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .grid-list {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
}

@media (min-width: 1000px) and (max-width: 1500px) {
  .artist-small-view {
    bottom: -2rem;
    right: -1.5rem;
  }
}
  
@media (min-width: 750px) and (max-width: 1000px) {
  .grid-list {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  .grid-list-artist {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .artist-small-view {
    bottom: -1rem;
    right: 0rem;
  }
}

@media (min-width: 450px) and (max-width: 749px) {
    .grid-list {
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    .grid-list-artist {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .artist-small-view {
      bottom: -2rem;
      right: -0.5rem;
    }
}

@media (min-width: 220px) and (max-width: 449px) {
    .grid-list {
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
    .grid-list-artist {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 380px) and (max-width: 449px){
  .artist-small-view {
    bottom: -2rem;
    right: 4rem;
  }
}

@media (min-width: 325px) and (max-width: 380px){
  .artist-small-view {
    bottom: -2rem;
    right: 2rem;
  }
}

@media (min-width: 220px) and (max-width: 325px){
  .artist-small-view {
    bottom: -2rem;
    right: -1rem;
  }
}

@media (max-width: 220px) {
    .grid-list {
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
    .grid-list-artist {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .artist-small-view {
      bottom: -2rem;
      right: 0rem;
    }
    .artist-img {
      width: 4rem;
      height: 4rem;
      padding: 0;
  }
}