.ul-nav {
    display: flex;
}

#selectSearchCate {
    margin-right: 1rem;
    display: inline-block;
}

button {
    padding: 0!important;
    margin:0.5rem!important;
}
@media (max-width:767px) {
    .ul-nav {
        display: none;
    }
}
